<%= link_to("Back to List", tasks_path, class: 'back-link') %>

<div class="tasks edit">
	<h2>Edit task</h2>


	<%= form_for(@task) do |f|%>
		<% # url task_path(@task), mehtod: :patch  %>

			<%= render(partial: 'form', locals: {f: f }) %>
		<div class="form_buttons">
			<%= f.submit("Edit Task") %>
		</div>
	<% end -%>

</div>	